.navbar {
    display: flex;
    border: 1px solid red;
    background-color: gray;
}
.nav-list {
    list-style: none; 
}
.nav-list a{
    text-decoration: none;
}
.nav-list li {
    display: inline;
    padding: 8px;
}
.hero-container {
    border: 2px solid green;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    height: 700px;
}

.project {
    border: 2px solid yellow;
    background-color: aquamarine;
    padding: 10px;
}