* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    background-color: #403b3b;
    position: fixed;
    top: 0;
    width: 99%;
    opacity: 0.8;
}
.navbar p {
    font-family: 'Playball', cursive;
    color: white;
}
.nav-list {
    list-style: none; 
}
.nav-list a{
    text-decoration: none;
    color: white;
}
.nav-list a:hover {
    color: #ffcb08;
}
.nav-list li {
    display: inline;
    margin: 15px;
}
.brief-intro {
    max-width: 600px;
    /* margin: 10% auto; */
    color: black;
    /* color: white; */
    font-weight: 400;
}
.brief-intro h1 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 400;
}
.brief-intro p {
    font-size: 1.5em;
}
.brief-intro span{
    /* color: rgb(20, 171, 20); */
    color: rgb(22, 247, 239);
    font-weight: 700;
}
.about-container {
    /* width: 90%;
    margin: 0 auto; */
    display: flex;

}
.about-data {
    display: flex;
    /* background: #847f7f; */
    opacity: 0.8;
    /* color: white; */
    width: 80%;
    margin: 10px auto;
    flex-wrap: wrap;

}
.about-data h2 {
    align-self: center;
}
.profile-img {
    border-radius: 50%;
    width: 170px;
}
.hero-container {
    background-color: #68c39f;
    color: white;
    padding: 10px;
    height: 700px;
    text-align: center;
    /* margin-top: 60px; */
    /* background-image: url('./assets/hero_pic_r.jpg'); */
    /* background-image: url('http://ak9.picdn.net/shutterstock/videos/7610479/thumb/1.jpg'); */
    background-image: url('./assets/hero_background.jpg');
    background-size: cover;
    background-position: center;
}
.intro {
    /* border: 3px solid #f8c119; */
    padding: 20px;
    line-height: 1.7;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.hr-line {
    color: #ffcb08;
}
.projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-image: url('./assets/projects_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.projects-heading, .about-container h2{
    text-align: center;
    text-transform: uppercase;
}
/* .projects-heading span {
    color: #ffcb08;
} */
.project {
    /* border: 2px solid yellow; */
    /* background-color: aquamarine; */
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background: white;
    /* flex-wrap: wrap; */
    max-width: 90%;
    margin: 40px auto;
}
.icons-box {
    margin-bottom: 20px;
}
.app-link{
    margin-left: 0;
}

.img-container {
    width: 100%;
}
.project-img {
    /* max-width: 100%; */
    border: 3px solid white;
    width: 450px;
    max-width: 100%; 
    max-height: 450px;
    border: 3px solid #8a8585;
}
.projects-heading, .about-container h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}
.project-name {
    font-size: 1.4em;
    color: #319bde;
}
.project-details {
    padding: 8px;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
    /* max-width: 50%; */
}
.project-details a {
    /* border: 2px solid #ffcb08; */
    border: 2px solid #319bde;
    text-decoration: none;
    padding: 5px;
    color: gray;
}
.project-details p {
    line-height: 1.5;
}
.project-details a:hover {
    background-color: #ffcb08;
}
.redux-logo, .jquery-logo {
    height: 30px;
    width: 30px;
}

.fa-envelope, .fa-github {
    color: white;
}
.footer-container {
    text-align: center;
    background-color: #403b3b;
    /* background-image: url('./assets/background.png'); */
    padding: 20px;
    color: white;
    text-transform: uppercase;
}
.fa-react {
    color: rgb(34, 214, 214);
}
.fa-node-js {
    color: rgb(68, 202, 68);
}
.fa-js-square {
    color: rgb(240, 178, 63);
}
.fa-html5 {
    color: rgb(245, 111, 87);
}
.fa-css3-alt {
    color: rgb(85, 167, 235);
}


@media(min-width: 768px) {
    .project-img {
        width: 100%;
        height: 100%;
      
    }
}
@media(max-width: 769px) {
    .project{
        flex-wrap: wrap;
    }
    .project-img {
        margin-top: 20px;
    }
    .brief-intro {
        margin: 30% auto;
    }
    .navbar {
        width: 96%;
    }
}
@media(min-width: 1024px) {
    .brief-intro {
       padding-top: 50px;
    }
}